# WhatsApp Parser Toolset v2024.12.21 settings file.

[report]
logo = ./cfg/logo.png
logo_height = 128
company =
record =
unit =
examiner =
notes =
report_prefix = report_
bg_index = ./images/background-index.png
bg_report = ./images/background.png
preview_pics_size = 100
preview_pics_max_width = 500
preview_pics_max_height = 500
profile_pics_enable = yes
profile_pics_size_report = 128
profile_pics_size_index = 48
profile_pics_dir = ./Media/Profile Pictures/
profile_pic_user = ./images/profile-pic-user.jpg
profile_pic_group = ./images/profile-pic-group.jpg
contact_vcard_dir = ./Media/Contact vCards/
contact_tooltip_enable = yes
contact_tooltip_pretty = yes
custom_emoji_enable = yes
custom_emoji_size = 20
custom_emoji_dir = ./images/emoji
html_links_enable = yes
html_img_alt_enable = no
html_img_noimage_pic = ./images/noimage.png
debug_warnings_enable = no
debug_errors_enable = no

[auth]
gmail = alias@gmail.com
passw = yourpassword
devid = 1234567887654321
celnumbr = BackupPhoneNunmber
oauth = OAuthToken
android_id = AndroidId

[icloud-auth] 
icloud  = alias@icloud.com
passw = yourpassword

[app]
pkg = com.whatsapp
sig = 38a0f7d505fe18fec64fbf343ecaaaf310dbd799

[client]
pkg = com.google.android.gms
sig = 38918a453d07199354f8b19af05ec6562ced5788
ver = 9877000
