# File: .gitignore
# Auth: Joe Broesele
# Mod.: Joe Broesele
# Date: 28 Apr 2020
# Rev.: 18 May 2020
#
# List of files to be ignored by git.
#

# This file itself.
#.gitignore

# Vi/Vim swap and backup files.
.*.swp
.*.swo
*~

# Other backup files.
*.bac
*.bak

# Compiled Python files.
*.pyc

# Whapa settings file.
/cfg/settings.cfg

# WhatsApp backups, databases, media, reports and key.
Backups/
Databases/
Media/
reports/
key
msgstore.db.crypt12
msgstore.db
msgstore_merge.db
wa.db
*.db
*.crypt12

# Thumbnails extracted from the WhatsApp databases.
thumbnails/

# WhatsApp profile pictures.
Profile Pictures/

# Emoji directories and symbolic link.
emoji*/
emoji

# PDF directory.
PDF/

# Temporary directory.
/tmp/

